<!-- views/grid.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-input {
      padding: 10px;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
    }

    .search-button {
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
  <script>
    function search() {
      var searchProduct = document.getElementById('searchInput').value.toLowerCase();
      fetch(`/RecientlyViewRecommendations`)
        .then(response => response.json())
        .then(data => {
          // Update the UI with the search results
          console.log('result'+data.results);
 const dataRes =JSON.stringify(data.results);
 const tableBody = document.getElementById('tableBody');
  tableBody.innerHTML = '';
  data.results.forEach(item => {
    const row = document.createElement('tr');
    row.innerHTML = `
      <td>${item.primaryProductId}</td>
      <td>${item.title}</td>
      <td>${item.type}</td>
      <td>${ item.categories.join(', ')}</td>
      <td>${item.availability}</td>
    `;
    row.addEventListener('click', () => {
          // Handle the click event, for example, log the clicked item's title
          console.log('Clicked item:', item.title);
          alert(`Get Simmilar Items for the category - ${item.categories.join(', ')}- in below Grid`);
          searchSimilarItems(item.primaryProductId);
        });
    tableBody.appendChild(row);
  });
        }).catch(error => console.error('Error:', error));
    } 
    function searchSimilarItems(productId) {
      fetch(`/SimilarItems/${productId}`)
        .then(response => response.json())
        .then(data => {
          // Update the UI with the search results
          console.log('resultSimilarItems'+data.results);
 const dataRes =JSON.stringify(data.results);
 const tableBody = document.getElementById('tblSmiliarItem');
  tableBody.innerHTML = '';
  data.results.forEach(item => {
    const row = document.createElement('tr');
    row.innerHTML = `
      <td>${item.primaryProductId}</td>
      <td>${item.title}</td>
      <td>${item.type}</td>
      <td>${ item.categories.join(', ')}</td>
      <td>${item.availability}</td>
    `;
   
    tableBody.appendChild(row);
  });
        }).catch(error => console.error('Error:', error));
    } 
  </script>
  <h1>Movie Recommendations</h1>
  <div class="search-container">
    <input type="text" class="search-input" id="searchInput" placeholder="Search...">
    <button class="search-button" onclick="search()">Search</button>
  </div>
  <div class="search-container">
    <h4>Recent Movie Recommendations</h4>
  <table border="1">
    <thead>
      <tr>
        <th>Primary Product Id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Category</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody id="tableBody">
     
    </tbody>
  </table>
    </div>
  
  
  <div class="similarItem-container">
    <h4>Similar Movie Recommendations</h4>
    <table border="1">
      <thead>
        <tr>
          <th>Primary Product Id</th>
          <th>Title</th>
          <th>Type</th>
          <th>Category</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody id="tblSmiliarItem">
        
      </tbody>
    </table>
  
  </div>
  <script>
   
  </script>
</body>
</html>

